*{
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: #0B090A;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 2em;
    font-weight: bold;

}
.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
   
    gap: 25px;

}

input{
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

button{
    background-color: dodgerblue;
    border: none;
    height: 40px;
    align-items: center;
    width: 100%;
    border-radius: 10px; 
    color: white;
}

button:hover{
    background-color: deepskyblue;
    
}
button a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 12px 0px;
}

h3{
    display: flex;
    justify-content: end;
    font-size: 12px;
    text-decoration: underline;
}

h3:hover{
    color: blue;
    cursor: pointer;
}